<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="courseId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="durationHours">
      <th mat-header-cell *matHeaderCellDef> Duration Hours </th>
      <td mat-cell *matCellDef="let element"> {{element.durationHours}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="passScore">
      <th mat-header-cell *matHeaderCellDef> Pass Score </th>
      <td mat-cell *matCellDef="let element"> {{element.passScore}} </td>
    </ng-container>
    <ng-container matColumnDef="instructorId">
        <th mat-header-cell *matHeaderCellDef> Instructor Id </th>
        <td mat-cell *matCellDef="let element"> {{element.instructorId}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  